<div class="jumbotron jumbotron-fluid bg-secondary text-center">
    <div class="container">
        <h1 class="display-4">SpeakEasy</h1>
        <p class="lead">Sample introduction/welcome text.</p>
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link" href="./translate">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="./history">Search History</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div id="home">
                <div class="container">
                    <div class="row">
                        <div class="col-8 offset-2">
                            <p>
                                <strong>User ID</strong>: {{test}}</p>
                            <p>
                                <strong>Translate from:</strong> {{test}}</p>
                            <p>
                                <strong>Translate To:</strong> {{test}}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<br>
{{!-- will fix styling later, footer is floating right now --}}
<footer class="py-2 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="column">(github logo will go here)
                <img src="">
                <a>Contact:</a>
                <a href="" target="_blank">name</a> |
                <a href="" target="_blank">name</a> |
                <a href="" target="_blank">name</a> |
                <a href="" target="_blank">name</a>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script src="/js/translate.js"></script> --}}